<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Register</h1>

    <hr>

    <form action="/customers/register" method="post">
        <div>
            Username: <input type="text" name="username" id="username" />
        </div><br>
        <div>
            Password: <input type="password" name="password" id="password" />
        </div><br>
        Confirm Password: <input type="password" name="confirmPassword" id="confirmPassword" />
        <br><br>
        <button type="submit">Register</button>
    </form>
    <div>
        <h4 th:text="${username}"></h4>
        <h4 th:text="${password}"></h4>
        <h4 th:text="${confirmPassword}"></h4>
    </div>
</body>

</html>